@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
	height: 100%;
}

body {
	height: fit-content;

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
